{% extends 'base.html' %}
{% block content %}
<div class="horizontal-center">
    <div class="card card-width-md vertical-center">
        <div class="columns">
            <div class="column bg-blue text-white border-radius-md logo-font">
                <div class="horizontal-center">
                    <h2 class="vertical-center">Registration successful!</h2>
                </div>
            </div>
            <div class="column">
                <div class="card-content">
                    <div class="content">
                        <p>
                            Proceed! 
                            <a href="{% url 'auth_login' %}">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}